<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="createWebsite" xsi:type="object">
                    Element119\StoreEntityCreator\Console\Command\CreateWebsite
                </item>
                <item name="createStore" xsi:type="object">
                    Element119\StoreEntityCreator\Console\Command\CreateStore
                </item>
                <item name="createStoreView" xsi:type="object">
                    Element119\StoreEntityCreator\Console\Command\CreateStoreView
                </item>
            </argument>
        </arguments>
    </type>
</config>
